
<h2 style="color: black; text-align: center; "> Map showing States Of India</h2>
<fieldset>
    <legend style="font-family: Arial Black; color: black; font-size: large;">Check States Using Google Map</legend>
    <div id="SatyaMap" style="width: 1240px; height: 500px;">
        @*set google map size .*@
    </div>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUkDYIRWfMzlpP2DPDIilcq7MoaZu85ZY"></script>
    <script type="text/javascript">
        //AIzaSyAnqzBUAWBvZwlu0cpZEy0a1mjzNi2 - sP4
            var markers = @Html.Raw(ViewBag.Markers); //all string value of column properties to viewbag.
        window.onload = function () {
                 var mapOptions = {
                center: new google.maps.LatLng(markers[27].lat, markers[27].lng), //which state will be shown.
                zoom: 4.7, //google map page zoom
                mapTypeId: google.maps.MapTypeId.ROADMAP //type of view.
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("SatyaMap"), mapOptions);//pass div id and google map load values.
            for (i = 0; i < markers.length; i++) { //here load all state map name
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng); //here i assigned lat and long.
                var marker = new google.maps.Marker({
                    position: myLatlng, //lat and long value
                    map: map, //div id
                    title: data.title //city name
                });
                (function (marker, data) { //here city map description after click on it.
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description); //city description value
                        infoWindow.open(map, marker); //then pop will show  the description
                    });
                })(marker, data);
            }
        }
    </script>
</fieldset>
 