
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="banner">
    <div class="inner">
        <header>
            <h1> Thanks for Confirming Email.</h1>
            <br />          
           
            <a href="~/Home/Contact" class="button"> Please Click Here</a>
        </header>

    </div>


   </section>