@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <section class="wrapper style1">
        <div class="inner">

            <div class="flex flex-2">
                <div class="" style="width:100%; max-width:500px; margin-left:300px; margin-right:200px; ">
                   
                        <h2>Login Failure</h2>
                    <br />
                        <h3 class="text-danger">Unsuccessful login with service.</h3>
                   
                </div>
            </div>
        </div>
    </section>
</div>
