@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section id="banner">
    <div class="inner">
        <header>
            <a href="#" class="button">
                Please check your email to reset your password.
            </a>
              </header>

    </div>
</section>